/*
    Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more.

*/
@media screen and (min-width: 750px) {
    article{
        width: 44em;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .text{
        font-size: 1.3em;
    }
    .presentation{
        width: 21em;
    }

    .myPhoto{
        margin: 0 0 .1em 0;
        max-width: 18em;
    }

    .skills .big-text{
        font-size: 3em;
    }

    .frame{
        width:100vw;
    }
    .icon > img{
        width: 10em;
        margin-top: 1em;        

    }
    .projects .big-text{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .projects article{
        width: 48em;
    }
    .project{
        margin: 1em;
    }
}

@media screen and (min-width: 1000px) {
    .frame{
        width: 50vw;
    }
    
}

@media screen and (min-width: 1500px){
    .frame{
        width: 25vw;
    }
    .icon > img{
        width: 8em;
        margin-top: 1em;        
    }
}